@model SuratKeteranganRubahBentuk

<div class=" col-md-6">

    <form asp-controller="SKRB" asp-action="ExportToPDF">

        @* <div class="mb-3">
        <label class="form-label" asp-for="@Model.NomorSurat">Nomor Surat</label>
        <div class="input-group">
        <span class="input-group-text text-muted">No. </span>
        <input type="text" class="form-control" asp-for="@Model.NomorSurat" placeholder="JS001/II/2024" />
        </div>
        </div> *@

        <div class="mb-3">
            <label class="form-label" asp-for="@Model.NomorMesin">Nomor Mesin</label>
            <input type="text" class="form-control" asp-for="@Model.NomorMesin" placeholder="" />
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="@Model.MerkKendaraan">Merk Kendaraan</label>
            <input type="text" class="form-control" asp-for="@Model.MerkKendaraan" placeholder="" />
            <small class="text-muted">Contoh : MITSUBISHI TRUCK FE HD N 4x2 M/T</small>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="@Model.TahunPembuatan">Tahun Pembuatan</label>
            <input type="number" class="form-control tahun-pembuatan" asp-for="@Model.TahunPembuatan" />
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="@Model.NomorChasis">Nomor Chasis</label>
            <input type="text" class="form-control" asp-for="@Model.NomorChasis" />
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="@Model.NomorPolisi">Nomor Polisi</label>
            <input type="text" class="form-control" asp-for="@Model.NomorPolisi" />
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="@Model.NamaPemilik">Nama Pemilik</label>
            <input type="text" class="form-control" asp-for="@Model.NamaPemilik" />
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="@Model.AlamatPemilik">Alamat Pemilik</label>
            <input type="text" class="form-control" asp-for="@Model.AlamatPemilik" />
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="@Model.WarnaSebelumnya">Warna Sebelumnya</label>
            <input type="text" class="form-control" asp-for="@Model.WarnaSebelumnya" />
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="@Model.WarnaSetelahDirubah">Warna Setelah Dirubah</label>
            <input type="text" class="form-control" asp-for="@Model.WarnaSetelahDirubah" />
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="@Model.ModelKendaraan">Model Kendaraan</label>
            <input type="text" class="form-control" asp-for="@Model.ModelKendaraan" />
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="@Model.TanggalSuratDibuat">Tanggal Surat Dibuat</label>
            <input type="text" class="form-control" asp-for="@Model.TanggalSuratDibuat" />
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="@Model.TempatSuratDiBuat">Tempat Surat Dibuat</label>
            <input type="text" class="form-control" asp-for="@Model.TempatSuratDiBuat" />
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="@Model.DiTandaTanganiOleh">Ditandatangai oleh</label>
            <input type="text" class="form-control" asp-for="@Model.DiTandaTanganiOleh" />
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="@Model.JabatanPenandaTangan">Jabatan</label>
            <input type="text" class="form-control" asp-for="@Model.JabatanPenandaTangan" />
        </div>

        <input type="submit" value="Buat PDF">
    </form>
</div>

@{
    <script>
    </script>
}